body{
	text-align: center;
}
.matts{
	font-size: 30px;
	font-weight: bold;
	color: red;
}
#board {
    width: auto;
    height: auto;
    border: 2px solid red; /* Border style and color */
    position: absolute;
	 top: 20vh;
	left: 30vw;
}
#greeting-message{
	color: black;
	font-weight: bold;
	font-size: 20px;
	
}
#restart-button{
	position: absolute;
	top: 20vh;
	right: 10vw;
	color: white;
	background-color: green;
	border: none;
	padding: 15px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 50%;
}
#avatar {
    width: 50px; /* Set the width */
    height: 50px; /* Set the height */
    border-radius: 50%; /* Make it a circle (optional) */
    position: absolute; /* Position it as needed */
     bottom: 2vh;
    left: 20%;
}
#avatar-label{
	position: absolute;
	bottom: 2vh;
	left: 40%;
	color: white;
	font-weight: bold;
	padding-left: 20px;
}
.user{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 20vw;
	height: 78vh;
	background-color: goldenrod;
}